:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #6A5D7B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  margin: 8px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 14px;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  color: black;
  width: 100%;
  background-color: #372B3B;
  color: #C0B9CA;
  cursor: pointer;
  height: fit-content;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #322737;
}

.card-container{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #5D4A66;
  border: 1px solid #594561;
  border-radius: 22px;
  transition: box-shadow 0.5s;
  box-shadow: 3px 1px 7px #57465f;
}

.product-price-cta {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
}

.product-image {
  height: auto;
  width: 50%;
  border-radius: 10px;
}

.stripe-widget {
  width: 400px;
}